body {
    height: 100vh;
    margin: 0;
    font-family: Montserrat;
    background-image: url('./images/bg-bottom.svg'), url('./images/bg-top.svg');
    background-position: left bottom, right top;
    background-repeat: no-repeat;
    background-color: #d2daff66;
}

.container {
    display: flex;
    flex-direction: column;
}

.topempty {
    flex-basis: 6em;
}

.container1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 1em;
    justify-content: center;
}

.header {
    display: flex;
    font-size: 2.2em;
    flex-basis: 1em;
    align-items: center;
}

.repContainer {
    display: flex;
    flex-basis: 8em;
    font-size: 2em;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    font-size: 1em;
    color: grey
}

.switch {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 32px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9394f3;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 3px;
    bottom: 3px;
    background-color: whitesmoke;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked+.slider {
    background-color: #9394f3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider {
    border-radius: 32px;
}

.slider:before {
    border-radius: 50%;
}

.containerPlans {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    justify-content: center;
    flex-flow: row wrap;
    color: white;
    flex-basis: 3em;
}



.basic {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 0.4em;
    color: black;
    background: white;
    align-items: stretch;
    flex-basis: 375px;
}


.professional {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 0.4em;
    color: white;
    background: #9394f3;
    align-items: stretch;
    flex-basis: 375px;
    transform: scale(1.05);
}

.master {
    margin-top: 2em;
    margin-bottom: 1em;
    ;
    display: flex;
    flex-direction: column;
    border-radius: 0.4em;
    color: black;
    background: white;
    align-items: stretch;
    align-content: center;
    flex-basis: 375px;
}

.topspace {
    flex-basis: 3em;
    flex-grow: 2;
}

.heading {
    display: flex;
    justify-content: center;
    flex-basis: 3em;
}


.price {
    display: flex;
    justify-content: center;
    font-size: 3.5em;
    flex-basis: 1.5em;
    flex-grow: 2;
}

.storage {
    display: flex;
    justify-content: center;
    flex-basis: 3em;
    align-items: center;
    flex-grow: 2;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 3em;
    flex-grow: 2;
}

.space {
    display: flex;
    justify-content: center;
    flex-basis: 3em;
    align-items: center;
    flex-grow: 2;
}


.buttonEle {
    display: flex;
    flex-basis: 2em;
    justify-content: center;

}

.buttonleft {
    flex-grow: 1;
}

.button {
    flex-grow: 8;
    font-size: 0.6em;
    background: #9394f3;
    border-radius: 10px;
    border: 0;
    color: white;
    font-family: Montserrat;
}

.buttonright {
    flex-grow: 1;
}

.button:hover {
    cursor: pointer;
}

#b2 {
    color: #9394f3;
    background-color: white;

}

.bottomspace {
    flex-basis: 1.5em;
    flex-grow: 2;
}

.emptyspace {
    flex-basis: 1.3em;
}

.line {
    padding-left: 1.9em;
    padding-right: 1.9em;
    border: none;
    color: whitesmoke;
    margin: 0;
}

.actual {
    /* border: none; */
    color: whitesmoke;
    margin: 0;
}